
<ion-content padding class="background">
  <ion-list >
    <ion-item-sliding >
      <ion-item >
        <ion-label>Panini</ion-label>
      </ion-item>
    </ion-item-sliding>
    <p> Meniu Crispy..................................................13 Lei</p>
    <p> Sandwich snitel................................................8 Lei</p>
    <p> Sandwich cascaval pane...............................13 Lei</p>
    <p> Meniu cascaval pane......................................13 Lei</p>
    <ion-item-sliding>
      <ion-item>
        <ion-label>HOPA</ion-label>
      </ion-item>
    </ion-item-sliding>
    <p> Meniu Crispy..................................................13 Lei</p>
    <p> Sandwich snitel................................................8 Lei</p>
    <p> Clatite cu dulceata............................................8 Lei</p>
    <p> Gyros.............................................................18 Lei</p>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Roata Norocului</ion-label>
      </ion-item>
    </ion-item-sliding>
    <p> Meniul zilei.....................................................13 Lei</p>
    <p> Sarmale.........................................................19 Lei</p>
    <p> Saramura de crap..........................................23 Lei</p>
    <p> Cartofi prajiti.....................................................5 Lei</p>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Panini</ion-label>
      </ion-item>
    </ion-item-sliding>
    <p> Meniu Crispy..................................................13 Lei</p>
    <p> Sandwich snitel................................................8 Lei</p>
    <p> Sandwich cascaval pane...............................13 Lei</p>
    <p> Meniu cascaval pane......................................13 Lei</p>
    <ion-item-sliding>
      <ion-item>
        <ion-label>HOPA</ion-label>
      </ion-item>
    </ion-item-sliding>
    <p> Meniu Crispy..................................................13 Lei</p>
    <p> Sandwich snitel................................................8 Lei</p>
    <p> Clatite cu dulceata............................................8 Lei</p>
    <p> Gyros.............................................................18 Lei</p>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Roata Norocului</ion-label>
      </ion-item>
    </ion-item-sliding>
    <p> Meniul zilei.....................................................13 Lei</p>
    <p> Sarmale.........................................................19 Lei</p>
    <p> Saramura de crap..........................................23 Lei</p>
    <p> Cartofi prajiti.....................................................5 Lei</p>
  </ion-list>
</ion-content>