<ion-content padding class="background">
  <ion-list>
    <ion-list-header>
      <ion-label>Panini</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ng-container *ngFor="let menu of menuList">
        <ion-item>
          <div class="meniu row no-gutters" style="width:100%">
            <div class="col-md-8 p-2 m-2">{{menu.name}}</div>
            <div class="col-md-2 p-2 m-2" style="text-align: center">{{menu.price}}</div>
            <div class="col" style="text-align: right">
                <ion-button (click)="addproduct(menu)">Adauga</ion-button>
            </div>
          </div>
        </ion-item>
      </ng-container>
    </ion-item-sliding>

  </ion-list>
</ion-content>