<ion-content padding class="background">
        
                <ion-item-sliding>
                    <div>
                        <ion-label padding center text-center><h1>Ultimele comenzi au fost</h1></ion-label>
                    </div>
                        <ng-container *ngFor="let menu of menuList">
                          <ion-item>
                            <div class="chenar row no-gutters" style="width:100%">
                              <div class="col-md-8 p-2 m-2">{{menu.name}}</div>
                              <div class="col-md-2" style="text-align: center">{{menu.price}}</div>
                            </div>
                        </ion-item>
                      </ng-container>
                      
                    </ion-item-sliding>
</ion-content>
